.center{
    text-align: center;
    font-family: 'Graduate', serif;
}

fieldset{
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 12px;
}

input{
    width: 180px;
    height: 28px;
    border-radius: 5px;
    border: none;
    margin-top: 18px;
    box-shadow: 2px 2px 8px black;
}

body{
    background-color: rgb(214, 208, 195);
}

button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    box-shadow: 2px 2px 8px black;
    margin-bottom: 20px;
}