@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.centro{
    text-align: center;
    font-family: 'Graduate', serif;
}

fieldset{
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 12px;
}

.borda1{
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: auto;
    background-color: #ffffff55;
    box-shadow: 5px 5px 10px #000000aa;
}

.conteudo{
    position: relative;
    top: 200px;
}

div{
    color: #eee;
}

a:link{
    color: #eee;
}

a:visited{
    color: #eee;
}

#imgseepass{
    filter: invert();
}

#imgseepass{
    filter: invert();
}

body{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
