@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.centro{
    text-align: center;
    font-family: 'Graduate', serif;
}

fieldset{
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 12px;
}

.borda1{
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.35);
}

.conteudo{
    position: relative;
    top: 200px;
}

body{
    background-image: url(img/background.png);
    background-size: 1920px 100vh;
    background-repeat: no-repeat;
    background-color: #000000;
}

div{
    color: #eee;
}

.batata:link{
    color: #eee;
}

.batata:visited{
    color: #eee;
}
